header{
    width: 100%;
    background-color: black;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.cabecalho h2{
    font-size: 30px;
    font-weight: 700;
    color: antiquewhite;
}

.cabecalho div{
    display: flex;
    align-items: center;
}

.active{
    color: brown;
}

@media screen and (max-width:560px){
    .cabecalho li{
        font-size: 13px;
    }
}
